
<div>

  <button class="button button-menu">Compose</button>

  <div class="menuBoxes">
    <div class="menuIcon">
      <i class="material-icons">mail_outline</i>
      Inbox
    </div>
    <div class="menuIcon">
      <i class="material-icons">present_to_all</i>
      Sent
    </div>
    <div class="menuIcon">
      <i class="material-icons">drafts</i>
      Drafts
    </div>
  </div>

  <br><br>

  <div class="menuBoxes">
    <p>Labels</p>
    <div class="menuIcon">
      <i class="material-icons">album</i>
      Work
    </div>
    <div class="menuIcon">
      <i class="material-icons">not_interested</i>
      Fashion
    </div>
    <div class="menuIcon">
      <i class="material-icons">report</i>
      Animals
    </div>
    <div class="menuIcon">
      <i class="material-icons">insert_emoticon</i>
      Code
    </div>
  </div>
</div>
