.standard-col {
  flex-shrink: 1;
  width: 50%;
  justify-content: center;
  text-align: center;
}
body,
html {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}
.container .col-menu {
  min-width: 250px;
  background-color: aqua;
  text-align: center;
}
.container .col-inbox {
  flex-shrink: 1;
  width: 50%;
  justify-content: center;
  text-align: center;
  background-color: beige;
}
.container .col-message {
  flex-shrink: 1;
  width: 50%;
  justify-content: center;
  text-align: center;
  background-color: #bada55;
}
