

//Global variables
@global-font:'Roboto', sans-serif;
@perfect-grey: #828282;

//End variables

// Mix-ins
.standard-col {
  flex-shrink: 1;
  width: 50%;
  justify-content: center;
  text-align: center;
}
// End mix-ins

body, html{
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;

  .col-menu{
    min-width: 250px;
    background-color: black;
    text-align: center;
  }

  .col-inbox {
    .standard-col;
    background-color: white;
  }

  .col-message{
      .standard-col;
      background-color: white;
  }

}

@import "app/menu/menu.component.less";
@import "app/inbox/inbox.component.less";
@import "app/message/message.component.less";





